# Uses direnv to set up the python virtual environment
strict_env  # Exit on errors

dotenv_if_exists  # Sources the `.env` file in this folder if it exists

layout python3  # Create virtual environment in `.direnv`
